{% extends 'base.html.twig' %}


{% block title %} 
    accueil Controller
{% endblock %}

{% block body %}

{% include 'UserMenu.html.twig' %}
{% include 'AdminMenu.html.twig' %}

<h1>accueil</h2>

{% endblock %}
