{% extends 'base.html.twig' %}


{% block title %} 
    Tableau Controller
{% endblock %}

{% block body %}
        <h1> page affichage </h1>

                {{ Nom }}
             {{ Prenom }}


{% endblock %}
