{% extends 'base.html.twig' %}


{% block title %} 
    Tableau Controller
{% endblock %}

{% block body %}
        <h1> page affichage </h1>

            {{ Nom }}
            {{ Prenom }}

// On change de nom de Stagiaire

{% set Nom = "MOAZ" %}
<br>

{{ Nom }}




{% endblock %}
