{% extends 'base.html.twig' %}


{% block title %} 
    ListeEleve Controller
{% endblock %}

{% block body %}
        <h1> ListeEleve </h1>

        <ul>
            
            <li>
                {{ tableau1[0] }}
            </li>
            <li>
             {{ tableau2[0] }}
            </li>
            <li>
             {{ tableau1[1] }}
            </li>
            <li>
             {{ tableau2[1] }}
            </li>
        </ul>


{% endblock %}
