{% extends 'base.html.twig' %}

{% block title %} VIEW SYMFONY {% endblock %}

{% block body %}

<h2> VIEW SYMFONY </h2>
<hr>

<ul> 
    <h3> 
        <li>  <a href="{{ path('view_affichage') }}"> Exo1 </a> </li>
        <li>  <a href="{{ path('view_tableaux') }}"> Exo2 </a> </li>    
        <li>  <a href="{{ path('view_ListeEleve') }}"> Exo3 </a> </li>  
    </h3>

</ul>



{% endblock %}
