{% extends 'base.html.twig' %}


{% block title %} 
    Accueil Controller
{% endblock %}

{% block body %}
        <h1> page accueil </h1>
{% include 'AdminMenu.html.twig' %}
{% include 'UserMenu.html.twig' %}




{% endblock %}
