{% extends 'base.html.twig' %}


{% block title %} 
    Administrations Controller
{% endblock %}

{% block body %}
{% include 'UserMenu.html.twig' %}
{% include 'AdminMenu.html.twig' %}

        <h1> page Administrations </h1>




{% endblock %}
