{% extends 'base.html.twig' %}


{% block title %} 
    Categorie Controller
{% endblock %}

{% block body %}
        <h1> page new </h1>
     {{ categorie.id }}
     {{ categorie.Titre }}
     {{ categorie.Resume }}          
           
        <a href="{{ path('categorie') }}"> Gestion des Categorie  </a>  

{% endblock %}
