{% extends 'base.html.twig' %}


{% block title %} 
    categorie Controller
{% endblock %}

{% block body %}
        <h1> page show </h1>
     {{ categories.id }}
     {{ categories.Titre }}
     {{ categories.Resumé }}          


{% endblock %}
