{% extends 'base.html.twig' %}


{% block body %}

{% block title %}New Articles{% endblock %}
    <h1>Articles index</h1>
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>resume</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        {# https://twig.symfony.com/doc/3.x/tags/for.html #}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.Titre }}</td>
                <td>{{ article.Resume }}</td>
               
                <td>{{ article.Date| date("d/m/Y")  }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

