{% extends 'base.html.twig' %}


{% block title %} 
    Article Controller
{% endblock %}

{% block body %}
        <h1> page article </h1>
<table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>

            </tr>
        </thead>
        </tbody>
    </table>


{% endblock %}
